@import url(http://fonts.googleapis.com/css?family=Galindo);

body {
  font-family: sans-serif;
  background-color: #303030;
  padding: 0px;
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1em;
  margin-top: 3px;
  margin-bottom: 10px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  text-align: right;
}

.header h1 {
  text-align: right;
  color: white;
  font-size: 4em;
  font-family: 'Galindo', cursive;
}

.header p {
  color: LightGrey;
  font-family: monospace;
  font-size: 0.9em;
}

.channels {
  position: absolute;
  white-space: nowrap;
  overflow: scroll;
  height: 98vh;
}

.channel, .divider {
  max-height: 95vh;
  overflow-y: scroll;
  vertical-align: top;
  display: inline-block;
  white-space: normal;
  margin: 2px 5px;
  border-radius: 3px;
}

.channel {
  width: 330px;
  padding: 10px;
  background-color: #FAFAFA;
  border-top: 5px solid #FAFAFA;
}

.divider {
  padding: 1px;
  height: 100%;
  border-radius: 0px;
  background-color: DimGray;
}

.home {
  border-top: none;
  background: none;
  padding: 0px;
}

.search {
  margin-top: 10px;
  padding: 10px;
  background-color: #FAFAFA;
  border-radius: 3px;
}

.search input {
  width: 297px;
  padding: 5px;
  font-size: 1.5em;
  border-radius: 3px;
  border: 1px solid rgba(1,1,1,0.5);
  font-family: monospace;
}

#results {
  margin-top: 10px;
  display: none;
}

.latest {
  border-top: 5px solid #A8C4F5;
}

.uncategorized {
  border-top: 5px solid #FFA07D;
}

.rejected {
  border-top: 5px solid red;
}

.rejected .flag-button {
  display: none;
}

.tweet {
  background-color: white;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid rgba(1,1,1,0.5);
}

.text {
  font-family: Courier, monospace;
}

.details {
  font-size: 0.8em;
  margin-top: 5px;
  height: 17px;
  color: DarkGrey;
}

.details a {
  background-color: red;
  border-radius: 2px;
  color: white;
  padding: 1px 3px;
  font-weight: bold;
}

.details span:last-child {
  margin-top: -5px;
  float: right;
}

.recent {
  border-left: 8px solid YellowGreen;
}

.new {
  -webkit-box-shadow: 0px 0px 2px 1px Orange;
  -moz-box-shadow: 0px 0px 2px 1px Orange;
  box-shadow: 0px 0px 2px 1px Orange;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.flag-button {
  background-color: white;
  border: none;
  font: inherit;
  padding: 0px 6px;
  border-radius: 3px;
  border: 1px solid Grey;
  cursor: pointer;
  font-size: 1.2em;
  color: DarkGrey;
}

.flagged {
  border: 1px solid DarkGrey;
  color: red;
}
